*.pyc
!.gitignore
!routes.py
!README
/applications/*/cache/
/applications/*/databases/*
/applications/*/errors/
/applications/*/sessions/
/applications/*/private/
/applications/*/uploads/*
/applications/*/.hg/
!/applications/
*.pyd
*.dll
httpserver.*
ABOUT.web2py.txt
CHANGELOG.md
LICENSE.python.txt
LICENSE.web2py.txt
Makefile
applications/welcome/static/temp/
gluon/packages/pydal/
gluon/packages/pymysql/
gluon/packages/rocket3/.gitignore
gluon/packages/yatl/.gitignore
gluon/version.py
parameters_8000.py
pip/
python.cat
python.exe
python312._pth
python312.zip
pythonw.exe
web2py.bat
welcome.w2p


### To include only specific apps, uncomment:
#/applications/*
#!/applications/{myapp}/
